@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

:root {
  --off-white: #f5f5f5;
  --bg-color: rgb(244,244,246);
  --bg-grey:rgb(235, 235, 235);
  --grey-line: rgb(220, 220, 220);
  --text-color: #333333;
  --text-accent:rgb(0,179,253);
  --text-secondary: rgb(0,107,152);
  --accent-color: #525252;
  --icon-hover: rgb(184, 225, 252);
  --icon-active: rgb(212, 232, 245);
  --icon-active-text:rgb(0, 130, 217);
  --font-text: "Outfit", sans-serif;
  --font-title: "Cal Sans", sans-serif;
  --shadow: 1px 2px 5px rgba(128, 128, 128, 0.6);
}
main {
  display:flex;
  font-family: var(--font-text);
}

.app-container {
  width: 100%;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--bg-color);
}
.page-content {
  padding: 3rem;
  display:flex;
  justify-content: end;
  text-align: end;
}
.content {
  max-width: 624px;
  text-align: end;
  margin-top: 3.2rem;
}

.title-content-icon {
    position: absolute;
    color:var(--icon-active-text);
    opacity:1;
    font-size: 110px;
    z-index: 1;
    top:3.5rem;
    right:210px;
    transform:rotate(15deg);
  }
.title-content {
  font-family: var(--font-title);
  font-size: 90px;
  position: absolute;
  top: 4rem;
  right:290px;
  color:rgb(174, 174, 174);
  border-radius: 20px;
  padding: 0 2rem;
  z-index: 2;
}
.title-content-mobile {
  display:none;
}
.text-content {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 50vh;
  line-height: 1.9;
  margin-top: 5rem;
  z-index: 100;
}
.title-section {
  color:var(--text-accent)
}
.text-bold {
  color:var(--icon-active-text)
}

@media screen and (max-width: 768px) {
  .page-content {
    padding: 6rem 3rem 1rem 3rem;
  }
  .title-content {
    display:none;
  }
  .title-content-icon {
    display: none;
  }
  .title-content-mobile {
    display:flex;
    position: relative;
    text-align: justify;
    left:3rem
  }
  .title-icon {
    position: absolute;
    color:var(--accent-color);
    opacity:0.2;
    font-size: 60px;
    z-index: 1;
    top:-12px;
    left:-48px;
    transform:rotate(-12deg)
  }
  .title-content-mobile p {
    position: relative;
    font-family: var(--font-title);
    font-size: 42px;
    color:var(--icon-active-text);
    z-index: 2;
  }
  
  .text-content {
    margin-top: 0;
    text-align: start;
  }
  .content {
    width: 100%;
  }
}

.field .input:focus ~ .icon.is-left {
  color: #209cee !important;
}


@media screen and (max-width: 480px) {
  .page-content {
  padding: 4rem 1rem;
}
.content {
  padding: 1rem;
  max-width: 450px;
}
}
@media screen and (max-width: 350px) {
  .page-content {
    padding: 4rem 0.3rem;
  }
  
}